        body {
            margin: 0;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: Arial, sans-serif;
            background: #f9f9f9;
        }
        nav {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: #3bb7ff;
            padding: 15px 0;
            text-align: center;
        }
        nav a {
            margin: 0 20px;
            text-decoration: none;
            font-weight: bold;
            color: white;
            font-size: 18px;
        }
        nav a:hover {
            text-decoration: underline;
        }
        h1 {
            color: #333;
            margin-top: 100px; /* supaya teks tidak ketiban navbar */
        }